.items {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto
}
.item {
    background-color: rgba(255,255,255,.7);
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden
}
.main {
    border-left: 5px solid orange;
    padding-left: .5rem;
    margin-left: 1rem;
    margin-right: .5rem;
}
.extra {
    margin-left: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem
}
.category {
    font-size: 1.125rem;
    border-bottom: 1px solid rgb(226, 226, 226);
    margin: .5rem 1rem
}
.title {

}
.desc {

}
.d-day {

}
.text-primary {
    color: navy
}
.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden
}
.text-secondary {
    color: gray;
}
/* category, participant 항목은 state를 추가하면서 작성할 예정 */