.items {
  list-style-type: none;
  padding: 0;
  max-width: 662px;
  margin: 0 auto;
  overflow: hidden
}
.item {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
  overflow: hidden;
}
.main {
  border-left: 5px solid orange;
  padding-left: 0.5rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.extra {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.category {
  font-size: 1.125rem;
  border-bottom: 1px solid rgb(226, 226, 226);
  margin: 0.5rem 1rem;
  text-transform: capitalize
}
.title::first-letter {
  font-size: 2rem
}
.desc {
  text-indent: 1rem
}
.d-day {
  font-style: italic
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
}
/* category, color, participant 항목은 state를 추가하면서 작성할 예정 */
.orange {
  color: rgb(250, 180, 51);
  border-left-color: rgb(250, 180, 51);
}
.lime {
    color: rgb(54, 212, 54);
    border-left-color: rgb(54, 212, 54);
}
.crimson {
    color: rgb(240, 49, 87);
    border-left-color: rgb(240, 49, 87);
}
.dodgerblue {
    color: rgb(69, 158, 248);
    border-left-color: rgb(69, 158, 248);
}
.chocolate {
    color: rgb(218, 119, 48);
    border-left-color: rgb(218, 119, 48);
}
.more-btn {
  right: 5%;
  top:0%;
  z-index: 9
} 
.btn-transparent {
  background: none
}
.btn-group {
  right: 5%;
  top: 0;
  z-index: 10
}